@font-face {
    font-family: 'Kridhamardawa';
    src: url('../fonts/kridhamardawa-regular.ttf');
}

.accordion .key-note {
    font-family: 'Kridhamardawa';
}

.accordion:before {
    content: "";
    position: absolute;
    bottom: 20%;
    right: 2%;
    width: 12px;
    height: 12px;
    border: 2px solid;
    border-color: transparent transparent #000 #000;
    transform: rotate(-45deg);
}