@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
body {
    font-family: 'Lora', serif;
}

.grid-sizer,
.grid-item {
    width: 22%;
    margin-bottom: 3%;
}

.gutter-sizer {
    width: 4%;
}